#Resume-Title {
  text-align: center;
  color: #5c7384;
}

#Site-Background {
  background-color: #9FAEAA;
}

.Fancy-Font {
  font-family: lucida handwriting;
  font-size: 12px;
  width: 200px;
  

}

#First-Project-Position{
  position: relative;
}

.Project-Visuals{
  padding: 50px;
  position: relative;
  width: 200px;
  left: 20px;
  top: 10px;
}