#Title-Top {
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: #a6fe4d;
  color: #9130f3;
}

.Size-Pic {
  Width: 250px;
  Height: 250px;
}

#Red-Square {
  color: red;
}

#Blue-Square {
  color: blue;
}

#Green-Square {
  color: green;
}